<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MedienBibliothek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <MedienBibliothek.Properties.Settings>
            <setting name="videoPath" serializeAs="String">
                <value>X:\1 HD</value>
            </setting>
            <setting name="excelFile" serializeAs="String">
                <value>C:\Movies\VideList.xls</value>
            </setting>
            <setting name="vlcFilePath" serializeAs="String">
                <value>C:\Program Files (x86)\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="jdownloaderVideoPath" serializeAs="String">
                <value>C:\Jdownloader</value>
            </setting>
        </MedienBibliothek.Properties.Settings>
    </userSettings>
</configuration>
